<div class="navbar navbar-light navbar-lewagon fixed-bottom">

 <div class="nav_icons" id="navbarSupportedContent">
 <%= link_to profile_path, class: "navbar-me" do %>
  <%= image_tag "me_icon.png" %>
  <% end %>

   <%= link_to class: "navbar-queue" do %>
   <p class="nav-item"><i class="nav_icon fas fa-search"></i></p>
   <% end %>
​
   <%= link_to class: "navbar-view" do%>
   <p class="nav-item"><i class="nav_icon far fa-comments"></i></p>
   <% end %>
​
​
  <%= link_to myprofile_path, class: "nav-link" do%>
   <%= cl_image_tag current_user.photo, class: "avatar nav-item", width: 1700, height: 1700,:crop=>"crop", :gravity=>"face", class: "avatar"%>
  <% end %>
 </div>
</div>
