<%= render "shared/header" %>
<h1><%= @user.first_name %> <%= @user.last_name %> </h1>
<p><%= @user.email %> </p>
<p><%= @user.car_plate %> </p>

<% if @session %>
  <p>Charger: <%= @session.charging_post_id %></p>
  <p>Starting time: <%= (@session.start_time.utc + 2.hours).strftime("%H:%M") %></p>

  <p>Current time: <%= (Time.now.utc + 2.hours).strftime("%H:%M") %></p>

  <% current_max_hours = 4 %>
  <% max_park_time = Time.at(current_max_hours * 3600) %>
  <% utc_offset = 3 * 3600 %>
  <% hej = Time.now.utc - @session.start_time.utc%>
  <% time = Time.at(max_park_time - (Time.now.utc - @session.start_time.utc) - utc_offset).strftime("%H:%M:%S") %>

  <!-- Should be updated on a second by second basis. -->
  <div id="donut">
    <p class="time-remaining"><%= time %></p>
    <p class="time time-hours"></p>
    <p class="time time-minutes"></p>
    <p class="time time-seconds"></p>


  </div>
  <br>
  <p><%= link_to "Quit charging", charging_session_path(@session), method: :patch %></p>

<% else %>
  <div class="btn btn-primary">Camera</div>

  <%= simple_form_for(@charging_session) do |f| %>
    <%= f.association :charging_post, collection:@available_posts %>

    <%= f.submit "Initiate", method: :post, class: "btn btn-success" %>

  <% end %>
<%= render 'shared/navbar' %>

<% end %>
<div>
<%= link_to "Log out", destroy_user_session_path, method: :delete%>
</div>
