<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash" if msg.length > 0 %>
<% end %>

<div class='ev-card d-flex justify-content-between' >
  <div><%= image_tag @user.photo, class: "avatar" %></div>
  <div><%= @user.first_name %> <%= @user.last_name %></div>
  <div id='points'>
    <div><p id='acdc'>AC/DC</p></div>
    <% if @user.points >= 0 %>
      <div id='plus_points'><p>+<%= @user.points %></p></div>
    <% else %>
      <div id='minus_points'><p><%= @user.points %></p></div>
    <% end %>
  </div>
</div>

<div class='ev-card d-flex justify-content-between' >
  <div><%= image_tag 'car.png', class: "avatar" %></div>
  <div><%= @user.car_plate %></div>
  <div>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp </div>
</div>


<!-- Select what to display dependeing on the state -->
<% if @session %>
<!-- If the user is charging... -->

  <div class="ev-card d-flex justify-content-between">
    <div><%= image_tag "charger.png", class: "charger" %></div>
    <div><%= @session.charging_post_id %></div>
    <div>
      <%= link_to charging_session_path(@session),  method: :patch, class: "btn btn-warning"  do %>
        <i class="fas fa-bolt"></i>
      <% end %>
    </div>
  </div>

  <p id="starting-time"><%= (@session.start_time).strftime("%H:%M:%S") %>
  <div class="activity-field">
    <p><i class="fas fa-clock"></i>  &nbsp&nbsp&nbsp<i class="fas fa-hourglass-start"></i></p>
    <div id="donut">
    </div>
    <p class="time-status">Time remaining: <%= @session.time_left_string %></p>
  </div>

<% elsif @my_ongoing_queueing and @my_turn %>
<!-- If the user is queueing... and there is NOT a available post for the user -->

  <div class="ev-card d-flex justify-content-between">
    <p>Queueing - my place in queue: </p><%= @my_number_in_queue %>
  </div>
  <!-- REMOVE ME FROM THE QUEUE if that is a wish-->

  <%= simple_form_for (@charging_session) do |f| %>
    <div class='ev-card d-flex justify-content-between' >
      <div><p>Time for you to move your car and start charging.</p></div>
      <div id="charging-post-dropdown"><%= f.association :charging_post, collection:@available_posts, default: @available_posts[0],  label: false, label_method: :id %></div>
      <div>
       <%= button_tag(type: 'submit', class: "btn btn-success") do %>
       <i class="fas fa-bolt"></i>
       <% end %>
      </div>
    </div>
  <% end %>
  <!-- REMOVE ME FROM THE QUEUE when session taken-->


<% elsif @my_ongoing_queueing %>
  <!-- If the user is queueing... and there is NOT a available post yet for the user -->

  <div class="ev-card d-flex justify-content-between">
    <p>Queueing - my place in queue: </p><%= @my_number_in_queue %>
  </div>
  <!-- REMOVE ME FROM THE QUEUE -->

<% elsif !@no_queue or @available_posts.empty? %>
<!-- If the user is NOT charging or NOT in queue.. and there is a queue or no available charger posts-->

<div class='ev-card d-flex justify-content-between' >
  <%= simple_form_for (@queueing) do |f| %>
  <div id='ev-queue-div'>
    <%= image_tag "queue_grey.png", class: "ev-queue-img" %>
    <%= f.submit 'Enter queue', class: "ev-queue-button" %>
  </div>
  <% end %>
</div>

<% elsif !@available_posts.empty? %>
<!-- If the user is NOT charging or NOT in queue and there is NO queue... and charger post is available-->


  <%= simple_form_for (@charging_session) do |f| %>
    <div class='ev-card d-flex'>
      <div id="outlet-div"><%= image_tag "charger.png", class: "charger" %><%= f.label :charging_post, label: ".", required: false, class: "hidden-placeholder" %></div>
      <div id="charging-post-dropdown"><%= f.association :charging_post, collection:@available_posts, default: @available_posts[0],  label: false, label_method: :id %></div>
      <div>
       <%= button_tag(type: 'submit', class: "btn btn-success") do %>
       <i class="fas fa-bolt"></i>
       <% end %>
      </div>
    </div>
  <% end %>

<% end %>
