<div class='ev-card d-flex justify-content-between' >
  <div><%= image_tag @user.photo, class: "avatar" %></div>
  <div><%= @user.first_name %> <%= @user.last_name %></div>
  <div>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp </div>
</div>

<div class='ev-card d-flex justify-content-between' >
  <div><%= image_tag 'car.png', class: "avatar" %></div>
  <div><%= @user.car_plate %></div>
  <div>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp </div>
</div>

<!-- Select what to display dependeing on the state -->
<% if @session %>
<!-- If the user is charging... -->

  <div class="ev-card d-flex justify-content-between">
    <div>Outlet: <%= @session.charging_post_id %></div>
    <div>Starting time: <%= (@session.start_time.utc + 2.hours).strftime("%H:%M") %></div>
    <div>
      <%= link_to charging_session_path(@session),  method: :patch, class: "btn btn-warning"  do %>
        <i class="fas fa-bolt"></i>
      <% end %>
    </div>
  </div>

  <% current_max_units = 4 %>
  <% max_park_time = Time.at(current_max_units * 60) %>
  <!-- Sest the offset to 0 at Thu June 20 to accomodate Heroku time -->
  <% utc_offset = 0 %>
  <% time = Time.at(max_park_time - (Time.now.utc - @session.start_time.utc) - utc_offset).strftime("%H:%M:%S") %>
  <p id="starting-time"><%= (@session.start_time.utc).strftime("%H:%M:%S") %></p>

  <div class="activity-field">
    <p>Current time: <%= (Time.now.utc + 2.hours).strftime("%H:%M") %></p>
    <div id="donut">
    </div>
    <p class="time-status">Time remaining: <%= time %></p>
  </div>

<% else %>
<!-- If the user is NOT charging... -->

  <%= simple_form_for (@charging_session) do |f| %>
    <div class='ev-card d-flex justify-content-between' >
      <div><%= f.label :charging_post, label: "Outlet", required: false %></div>
      <div id="charging-post-dropdown"><%= f.association :charging_post, collection:@available_posts, default: 1,  label: false %></div>
      <div>
       <%= button_tag(type: 'submit', class: "btn btn-success") do %>
       <i class="fas fa-bolt"></i>
       <% end %>
      </div>
    </div>
  <% end %>
<% end %>
