<% flash.each do |name, msg| %>
<%= content_tag :div, msg, :id => "flash" if msg.length > 0 %>
<% end %>

<!-- Check if there is a queue. TO BE IMPLEMENTED -->
<% if true %>
<!-- If there is a queue... -->

<!-- Iterate over the queue. TO BE IMPLEMENTED -->
<div class='ev-card d-flex justify-content-between' >
  <div><%= image_tag 'https://kitt.lewagon.com/placeholder/users/oscnil', class: "avatar" %></div>
  <div class="d-flex justify-content-between list-for-name">
    <div>Oscar Nilestam</div>
    <div>-13 mins </div>
  </div>
</div>

<div class='ev-card d-flex justify-content-between' >
  <div><%= image_tag 'https://kitt.lewagon.com/placeholder/users/pzyee', class: "avatar" %></div>
  <div class="d-flex justify-content-between list-for-name">
    <div>Petra Elandersson</div>
    <div>-20 mins </div>
  </div>
</div>

<div class='ev-card d-flex justify-content-between' >
  <div><%= image_tag 'https://kitt.lewagon.com/placeholder/users/leniglnn', class: "avatar" %></div>
  <div class="d-flex justify-content-between list-for-name">
    <div>Lena Nigrell</div>
    <div>-26 mins </div>
  </div>
</div>

<div class='ev-card d-flex justify-content-flex-start' id='me-card' >
  <div><%= image_tag 'https://kitt.lewagon.com/placeholder/users/depersson', class: "avatar" %></div>
  <div class="d-flex justify-content-between list-for-name">
    <div class="name-in-list">Dennis Persson</div>
    <div>-38 mins </div>
  </div>
</div>

<div class='ev-card d-flex justify-content-between' >
  <div><%= image_tag 'https://kitt.lewagon.com/placeholder/users/atmosfeer', class: "avatar" %></div>
  <div class="d-flex justify-content-between list-for-name">
    <div>Robert Andersson</div>
    <div>-39 mins </div>
  </div>
</div>

<div class='ev-card d-flex justify-content-between' >
  <div><%= image_tag 'https://kitt.lewagon.com/placeholder/users/alancaunt', class: "avatar" %></div>
  <div class="d-flex justify-content-between list-for-name">
    <div>Alan Caunt</div>
    <div>-46 mins </div>
  </div>
</div>

<div class='ev-card d-flex justify-content-between' >
  <div><%= image_tag 'https://kitt.lewagon.com/placeholder/users/annemff', class: "avatar" %></div>
  <div class="d-flex justify-content-between list-for-name">
    <div>Anne Hofmann</div>
    <div>-67 mins </div>
  </div>
</div>

<% end %>

