<div class = "login-logo" style = "margin-left: -613px;">
  <div id = "login-app_name">EV SLIDE</div>
  <div><%= image_tag "flames.png", id: 'logo' %></div>
</div>

<div class="form-div">
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs ev-login-form">
    <%= f.input :email,
                label: false,
                required: false,
                autofocus: true,
                placeholder: 'user@domain.com',
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                label: false,
                required: false,
                placeholder: 'password',
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    <%= f.button :submit, "SIGN IN", class: "ev-login-button" %>
  </div>
<% end %>
  <div id="link-div">
    <%= render "devise/shared/links" %>
  </div>
</div>

<%= javascript_pack_tag 'driving' %>
