<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>EV-Slide</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= favicon_link_tag asset_path('favicon-32x32.png') %>


    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">

    <%#= rails style linking of the favicon -->
    <%= favicon_link_tag asset_path('favicon-32x32.png') %>

    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="apple-touch-icon" sizes="76x76" href="<%= asset_path("icons/apple-icon-76x76.png") %>">
    <link rel="apple-touch-icon" sizes="60x60" href="<%= asset_path("icons/apple-icon-60x60.png") %>">
    <link rel="apple-touch-icon" sizes="57x57" href="<%= asset_path("icons/apple-icon-57x57.png") %>">
    <link rel="apple-touch-icon" sizes="72x72" href="<%= asset_path("icons/apple-icon-72x72.png") %>">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-icon-72x72.png">

  </head>
  <body <% if action_name == "acdc" %><%= ' id=acdc-body' %><% end %>>

     <%= render 'shared/flashes' %>

    <% if controller.controller_name == 'sessions' ||
      controller.controller_name == 'passwords' ||
      controller.controller_name == 'registrations' %>
      <%= yield %>
    <% else %>
      <div class="wrapper" id="outer-wrapper">
        <div id="container" style="height: 91.3vh">
          <%= render "shared/header" %>
          <%= yield %>
          <%= render "shared/navbar" %>
        </div>
      </div>
    <% end %>

  <%= javascript_include_tag 'application' %>
  <%= javascript_pack_tag 'application' %>
</body>
</html>
